# string manipulations

In [2]:
str="i love india"

In [3]:
print(str)

i love india

In [4]:
str.islower()

True

In [5]:
str.isupper()

False

In [6]:
print(str.lower())

i love india

In [7]:
print(str.upper())

I LOVE INDIA

In [8]:
#to calculate length including space
print(len(str))

12

In [9]:
print(str.replace("i","w"))

w love wndwa

In [10]:
print(str)

i love india

In [11]:
print(str.replace("love","like"))

i like india

In [12]:
print(str.index('i'))

0

In [13]:
print(str.index("love"))

2

In [14]:
print("i love india \n im from india")

i love india
 im from india

In [15]:
a=input(str1)

NameError: name 'str1' is not defined

# number manipulations

In [17]:
from math import*

In [18]:
print(10+10)

20

In [19]:
print(10*2/2+1-10)

1.0

In [20]:
a=10.99/2+1-10
print(a)

-3.505

In [21]:
print(3.12)

3.12

In [25]:
#doesnt work
age=2020
print("my age is "+age)

TypeError: must be str, not int

In [2]:
age=2020
print("my age is "+str(age))

my age is 2020

In [27]:
print(1,8,9,6,77,57)

1 8 9 6 77 57

In [28]:
print(max(1,8,9,6,77,57))

77

In [29]:
print(min(1,8,9,6,77,-57))

-57

In [30]:
print(sum(9,0))

TypeError: 'int' object is not iterable

In [31]:
print(pow(5,2))

25.0

In [32]:
print(52/104+pow(2,2))

4.5

In [33]:
a=52/104+pow(2,2)
print(round(a))

4

In [34]:
a=-5777777
a

-5777777

In [35]:
print(abs(a))

5777777

In [36]:
print(sqrt(625))

25.0

In [38]:
print(ceil(23.99765))
print(ceil(23.000000))
print(ceil(23.000001))
print(round(23.99765))
print(round(23.000001))
print(floor(23.99765))
print(floor(23.000001))

24
23
24
24
23
23
23

In [ ]:
print(factorial(5))

In [ ]:
factorial(3)

# Input functions

In [ ]:
a=12
b=13
c=a+b
print(c)

In [ ]:
input("what is your name")

In [ ]:
a=input("first number\n")
b=input("second number\n")
print("the sum is "+(a+b))

In [ ]:
a=input("enter first number\n")
b=input("enter second number\n")
c=int(a)+int(b)
print(c)

In [ ]:
a="welcome"
b=" to gnits"
print(a+b)

In [ ]:
age=input("wts ur age")
print("my age is "+age)

In [ ]:
name=input("wts my ðŸ¤”ðŸ¤” name  ")
age=input("wts ur age")

In [ ]:
print("my name is  "+name+" my age is  "+age)

# practice test 1

In [ ]:
#here these are stored as str not as integers
price_product_1=input("wts the price of product_1 :")
quantity_product_1=input("wts the quantity of product_1 :")
price_product_2=input("wts the price of product_2 :")
quantity_product_2=input("wts the quantity of product_2 :")
price_product_3=input("wts the price of product_3 :")
quantity_product_3=input("wts the quantity of product_3 :")

In [ ]:
result_product_1=price_product_1*quantity_product_1

In [ ]:
result_product_1=float(price_product_1)*float(quantity_product_1)
result_product_2=float(price_product_2)*float(quantity_product_2)
result_product_3=float(price_product_3)*float(quantity_product_3)

In [ ]:
print(result_product_1)
print(result_product_2)
print(result_product_3)

In [ ]:
result=result_product_1*result_product_2*result_product_3
print(result)
print(str(result))
print(type(result))

# practice test 2

In [ ]:
name_1=input("what is your name :")
name_2=input("what is your name :")
name_3=input("what is your name :")

slices_in_pizza=input("how many slices r there in pizza :")
price_of_pizza=input("what is the price of pizza :")

pizza_ate_by_person_1=input(name_1 +" what percentage of pizza did u eat :")
pizza_ate_by_person_2=input(name_2 +" what percentage of pizza did u eat :")
pizza_ate_by_person_3=input(name_3 +" what percentage of pizza did u eat :")

price_paid_by_person_1=float(pizza_ate_by_person_1)*float(price_of_pizza)
price_paid_by_person_2=float(pizza_ate_by_person_2)*float(price_of_pizza)
price_paid_by_person_3=float(pizza_ate_by_person_3)*float(price_of_pizza)

print(name_1+" have ate "+str(pizza_ate_by_person_1)+ " percent of slices and paid " + str(price_paid_by_person_1) )
print(name_2+" have ate "+str(pizza_ate_by_person_2)+ " percent of slices and paid " + str(price_paid_by_person_2) )
print(name_3+" have ate "+str(pizza_ate_by_person_3)+ " percent of slices and paid " + str(price_paid_by_person_3) )

# Adding comments on your project

In [ ]:
# is used to add comment

In [ ]:
print("# is used to add comments")            #something will be printed

In [ ]:
print(1+1)              #prints the sum of given numbers

# functions

In [ ]:
#defining a function
def funct1(name):
    print("whats your name :"+name)

In [ ]:
#calling a function
funct1("priya")

In [39]:
from math import*
def fact(k):
    return factorial(k)
n=input("enter the value of n :")  #here, n value is a string 
factorial(int(n))

enter the value of n :5

120

# return statements

In [2]:
def calculation(a,b,c):
    print(a+b+c)
    print(a-b-c)
    print(a*b/c)
    
calculation(1,2,3)

6
-4
0.6666666666666666

In [4]:
#using return statement
#we cannot use multiple return stat
def calculation(a,b,c):
    return (a+b+c)
    return (a-b-c)
    return (a*b/c)
    
calculation(1,2,3)

6

In [5]:
#a function only runs one return statement
def calculation(a,b,c):
    print (a+b+c)
    print (a-b-c)
    return (a*b/c)
    
calculation(1,2,3)

6
-4

0.6666666666666666

In [6]:
#statments after the return stat will not be excecuted
def calculation(a,b,c):
    print (a+b+c)
    print (a-b-c)
    return (a*b/c)
    print ("this is the calcultion")
    
calculation(1,2,3)

6
-4

0.6666666666666666

In [7]:
#statments before the return stat will  be excecuted
def calculation(a,b,c):
    print (a+b+c)
    print (a-b-c)
    print ("this is the calcultion")
    return (a*b/c)
    
    
calculation(1,2,3)

6
-4
this is the calcultion

0.6666666666666666

# if_statement_part_1

In [10]:
i_want_to_eat=True
i_want_to_drink=False
if(i_want_to_eat):    #if its true
    print("i can eat anythinng that i want")
else:
    print("i cannot eat wt i want")

i can eat anythinng that i want

In [11]:
i_want_to_eat=False
i_want_to_drink=False
if(i_want_to_eat):
    print("i can eat anythinng that i want")
else:
    print("i cannot eat wt  i want")

i cannot eat wt  i want

In [12]:
i_want_to_eat=True
i_want_to_drink=True
if(i_want_to_eat and i_want_to_drink):
    print("i can eat  and drink anythinng that i want")
else:
    print("i cannot eat and drink that i want too have")

i can eat  and drink anythinng that i want

In [13]:
#and indicates both must be true
i_want_to_eat=False
i_want_to_drink=True
if(i_want_to_eat and i_want_to_drink):
    print("i can eat  and drink anythinng that i want")
else:
    print("i cannot eat and drink that i want too have")

i cannot eat and drink that i want too have

In [14]:
#or indicates any pne of statement is true
i_want_to_eat=False
i_want_to_drink=True
if(i_want_to_eat or i_want_to_drink):
    print("i can eat  and drink anythinng that i want")
else:
    print("i cannot eat and drink that i want too have")

i can eat  and drink anythinng that i want

In [21]:
#using else if
i_want_to_eat=False
i_want_to_drink=True
if(i_want_to_eat):
    print("i can eat anythinng that i want")
elif (i_want_to_drink):
    print("i can drink wt  i want")
else:print("i cannot have anything")

i can drink wt  i want

In [22]:
#using else if
i_want_to_eat=True
i_want_to_drink=False
if(i_want_to_eat):
    print("i can eat anythinng that i want")
elif (i_want_to_drink):
    print("i can drink wt  i want")
else:print("i cannot have anything")

i can eat anythinng that i want

In [23]:
#using else if
#if first stat is true,it doesnt go to nt stat
i_want_to_eat=True
i_want_to_drink=True
if(i_want_to_eat):
    print("i can eat anythinng that i want")
elif (i_want_to_drink):
    print("i can drink wt  i want")
else:print("i cannot have anything")

i can eat anythinng that i want

In [20]:
#using else if
i_want_to_eat=False
i_want_to_drink=False
if(i_want_to_eat):
    print("i can eat anythinng that i want")
elif (i_want_to_drink):
    print("i can drink wt  i want")
else:print("i cannot have anything")

i cannot have anything

In [24]:
#using if not
i_want_to_eat=True
i_want_to_drink=False
if not (i_want_to_eat):    #if its false
    print("i can eat anythinng that i want")
else:
    print("i cannot eat wt i want")

i cannot eat wt i want

In [25]:
#using if not
i_want_to_eat=False
i_want_to_drink=False
if not (i_want_to_eat):    #if its false
    print("i can eat anythinng that i want")
else:
    print("i cannot eat wt i want")

i can eat anythinng that i want

# if_statement_part_2

In [26]:
var1=1
var2=5
if(var1==var2):
    print("equal")
else:
    print("not equal")

not equal

In [27]:
var1=5
var2=5
if(var1==var2):
    print("equal")
else:
    print("not equal")

equal

In [28]:
var1=5.000
var2=5
if(var1==var2):
    print("equal")
else:
    print("not equal")

equal

In [29]:
var1=1
var2=5
var3=5
if(var1==var2==var3):
    print("equal")
else:
    print("not equal")

not equal

In [30]:
var1=1
var2=5
var3=5
if(var1!=var2==var3):
    print("equal")
else:
    print("not equal")

equal

In [31]:
var1=1
var2=5
var3=5
if(var1>var2>var3):
    print("yes")
else:
    print("no")

no

In [33]:
var1=10
var2=5
var3=5
if(var1>var2>=var3):
    print("yes")
else:
    print("no")

yes

In [35]:
var1="blue"
var2="red"
var3="black"
var4="yellow"
if var1==var2:print("same colour")
else:print("not same")

not same

In [36]:
var1="red"
var2="red"
var3="black"
var4="yellow"
if var1==var2:print("same colour")
else:print("not same")

same colour

In [1]:
person1_name=input("what is your name : ")
person1_wallet=input("how much money do you have :")
person2_name=input("what is your name : ")
person2_wallet=input("how much money do you have :")
person3_name=input("what is your name : ")
person3_wallet=input("how much money do you have :")

if (float(person1_wallet)>float(person2_wallet)) and (float(person1_wallet)>float(person3_wallet)):
    print(person1_name +" is the Richest person ")
elif (float(person2_wallet)>float(person1_wallet)) and (float(person2_wallet)>float(person3_wallet)):
    print(person2_name +" is the Richest person ") 
else:print(person3_name+" is the Richest")

what is your name : meena
how much money do you have :500
what is your name : teena
how much money do you have :680
what is your name : reena
how much money do you have :540
teena is the Richest person

# if_statement_part_3

In [11]:
#function defination
def question():
    rules=input("you need to answer every question by yes/no.Do u understand :")
    if rules!="yes":
        return print("try again")
    else:
        print("next question ")
        question_1=input("r u hungry ")
        if question_1!="yes":
            return print("then lets go for a walk ")
        else:
            print("next question ")
            question_2=input("do u want to eat at any restaurant  ")
            if question_2!="yes":
                return print("okay then lets eat at my place ")
            else:
                print("next question")
                question_3=input("do u want eat a pizza ")
                if question_3!="yes":
                    return print("lets eat a burger then ")
                else:

                    print("lets eat pizza ")

In [9]:
#function call
question()

you need to answer every question by yes/no.Do u understand :no
try again

In [12]:
#function call
question()

you need to answer every question by yes/no.Do u understand :yes
next question
r u hungry yes
next question
do u want to eat at any restaurant  yes
next question
do u want eat a pizza yes
lets eat pizza

# working with lists

In [4]:
list1=[1,2,3,5,6]

In [5]:
list1

[1, 2, 3, 5, 6]

In [6]:
list1[0]

1

In [11]:
list1[6]

IndexError: list index out of range

In [12]:
list1[1:4]

[2, 3, 5]

In [13]:
#reassinging the list element
list1[3]=567

In [14]:
print(list1)

[1, 2, 3, 567, 6]

In [15]:
#sorting the list
list1.sort()

In [16]:
list1

[1, 2, 3, 6, 567]

In [17]:
#length of list
len(list1)

5

In [18]:
#iterating on list
for n in list1:
    print(n)

1
2
3
6
567

In [19]:
#multidimensional list
a=[[10,20,30],[40,50,60]]

In [20]:
a

[[10, 20, 30], [40, 50, 60]]

In [21]:
#negative indexing
list1=['an','apple','a','day','keeps','the','doctor','away']

In [23]:
list1

['an', 'apple', 'a', 'day', 'keeps', 'the', 'doctor', 'away']

In [24]:
len(list1)

8

In [25]:
list1[-4:-1]

['keeps', 'the', 'doctor']

In [26]:
list1[-1:]

['away']

In [27]:
list1[-8:]

['an', 'apple', 'a', 'day', 'keeps', 'the', 'doctor', 'away']

In [28]:
list1[-8:-4]

['an', 'apple', 'a', 'day']

In [29]:
#check if an item exists or not
list1=['an','apple','a','day','keeps','the','doctor','away']

if "banana" in list1:
    print("yes,present")
else:print("no")

no

In [30]:
#adding items to list using append
list1=['an','apple','a','day','keeps','the','doctor','away']

list1.append("banana")
list1

['an', 'apple', 'a', 'day', 'keeps', 'the', 'doctor', 'away', 'banana']

In [33]:
#adding items to list using insert
list1=['an','apple','a','day','keeps','the','doctor','away']

list1.insert(4,"banana")
list1

['an', 'apple', 'a', 'day', 'banana', 'keeps', 'the', 'doctor', 'away']

In [34]:
#removing an item from list1
list1=['an','apple','a','day','keeps','the','doctor','away']

list1.remove("apple")
list1

['an', 'a', 'day', 'keeps', 'the', 'doctor', 'away']

In [35]:
list1.pop()

'away'

In [36]:
list1

['an', 'a', 'day', 'keeps', 'the', 'doctor']

In [37]:
#deleting a list
del list1

In [39]:
#since we have deleted ,it shows error
list1

NameError: name 'list1' is not defined

In [42]:
#clear a list
a=[1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [43]:
a.clear()
a

[]

In [44]:
#copy a list
a=[1,2,3,4,5,6]
b=a.copy()
b

[1, 2, 3, 4, 5, 6]

In [45]:
#join a list
a=[1,2,3,4,5]
b=[5,6,8,9]
c=a+b
c

[1, 2, 3, 4, 5, 5, 6, 8, 9]

# using functions with list

In [46]:
food=["hamburgger","pizza","juice","fries","sushi"]
prices=[56,78,90,44,50]

In [47]:
food

['hamburgger', 'pizza', 'juice', 'fries', 'sushi']

In [50]:
#insert function
food.insert(5,"chips")

In [51]:
food

['hamburgger', 'pizza', 'juice', 'fries', 'sushi', 'chips']

In [53]:
#deleting a list
#first del all elements in list
food.clear()
food

[]

In [54]:
del food

In [55]:
food

NameError: name 'food' is not defined

In [58]:
#extending a lisst
food=["hamburgger","pizza","juice","fries","sushi"]
prices=[56,78,90,44,50]

food.extend(prices)
food

['hamburgger', 'pizza', 'juice', 'fries', 'sushi', 56, 78, 90, 44, 50]

In [59]:
#joining a lisst
food=["hamburgger","pizza","juice","fries","sushi"]
prices=[56,78,90,44,50]

list_new=food+prices
list_new

['hamburgger', 'pizza', 'juice', 'fries', 'sushi', 56, 78, 90, 44, 50]

In [60]:
#joining a lisst using iteration
food=["hamburgger","pizza","juice","fries","sushi"]
prices=[56,78,90,44,50]

for x in prices:
    food.append(x)

food

['hamburgger', 'pizza', 'juice', 'fries', 'sushi', 56, 78, 90, 44, 50]

In [61]:
#to find the index of an item
food.index("juice")

2

In [63]:
#occurance of an element in list
food=["hamburgger","pizza","juice","pizza","fries","pizza","pizza","sushi"]
print(food.count("pizza"))
print(food.count("juice"))

4
1

In [66]:
#copy a list
food=["hamburgger","pizza","juice","pizza","fries","pizza","pizza","sushi"]
fod_new=food.copy()+prices.copy()
fod_new

['hamburgger',
 'pizza',
 'juice',
 'pizza',
 'fries',
 'pizza',
 'pizza',
 'sushi',
 56,
 78,
 90,
 44,
 50]

# Difference between lilst and tuple

In [71]:
list1=['red','yellow','black','blue','pink']
tuple1=('red','yellow','black','blue','pink')
dictionary1={'colors':('red','yellow','black','blue','pink')}

In [81]:
print(list1)
print(tuple1)
print(dictionary1)

['red', 'yellow', 'black', 'blue', 'pink']
('red', 'yellow', 'black', 'blue', 'pink')
{'colours': ('red', 'yellow', 'black', 'blue', 'pink')}

In [83]:
#error since,tuples cannot be modified
tuple1=('red','yellow','black','blue','pink')
tuple1.insert(3,'grey')

AttributeError: 'tuple' object has no attribute 'insert'

In [87]:
#joinging tuples
tuple1=('red','yellow','black','blue','pink')
tuple2=('square','triangle','rectangle')

tuple3=tuple1+tuple2
tuple3

('red', 'yellow', 'black', 'blue', 'pink', 'square', 'triangle', 'rectangle')

In [94]:
tuple3

('red', 'yellow', 'black', 'blue', 'pink', 'square', 'triangle', 'rectangle')

In [95]:
tuple3[2:5]

('black', 'blue', 'pink')

In [96]:
len(tuple3)

8

In [97]:
del tuple3

In [99]:
#error since,tuple3 is deleted
tuple3

NameError: name 'tuple3' is not defined

In [89]:
a=(1)
a

1

In [90]:
type(a)

int

In [91]:
b=(1,)
b

(1,)

In [92]:
type(b)

tuple

# Dictionary in python

In [100]:
colors={
    "b":"blue",
    "p":"pinkkk"
}

In [101]:
colors

{'b': 'blue', 'p': 'pinkkk'}

In [104]:
colors['b']

'blue'

In [106]:
colors['p']

'pinkkk'

In [ ]:
colors={
    "b":"blue",
    "b":"black"
    "p":"pinkkk"
}

In [107]:
colors

{'b': 'blue', 'p': 'pinkkk'}

In [ ]:
names={
    2020:"corona",
    2019:"RTC strike"
    2018:"2018"
}

# while loop structure

In [ ]:
var1=25
var2=2000
coount=0

while var1<var2:
       print(var1)
        var1=var1+5