In [1]:
#😎😎😎ctrl+enter....to execute

In [2]:
#pandas is built on numpy package
#pandas is a library used to deal with data analysis and manupulation
#it also helps us to organise data by putting it in a tabular form
import pandas as pd

In [3]:
#OS module in python provides a way of using os dependent functionality
#it allows u to interface with underlying operating system that pytho is running on
import os

In [4]:
#os.getcwd returns the current working directory of a process
os.getcwd()

'C:\\Users\\acer\\DATA_SCIENCE'

In [5]:
#os.chdir is used to change the current working directory to specified path
os.chdir('E:\Dataframes_csvFiles')

In [6]:
# to know about current working directory
os.getcwd()

'E:\\Dataframes_csvFiles'

In [7]:
# reading the dateframe
df=pd.read_csv('weather_data.csv')

In [8]:
# to display the dataframe
df

         day  temperature  windspeed   event
0   1/1/2020           32          6    rain
1   1/2/2020           35          7   sunny
2   1/3/2020           28          2    snow
3   1/4/2020           36          7    snow
4   1/5/2020           34          4   sunny
5   1/6/2020           33          2   sunny
6   1/7/2020           35          7    rain
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

In [9]:
#print dataframe using list(indexing)
df[:]

         day  temperature  windspeed   event
0   1/1/2020           32          6    rain
1   1/2/2020           35          7   sunny
2   1/3/2020           28          2    snow
3   1/4/2020           36          7    snow
4   1/5/2020           34          4   sunny
5   1/6/2020           33          2   sunny
6   1/7/2020           35          7    rain
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

In [10]:
#to display the dataframe
print(df)

         day  temperature  windspeed   event
0   1/1/2020           32          6    rain
1   1/2/2020           35          7   sunny
2   1/3/2020           28          2    snow
3   1/4/2020           36          7    snow
4   1/5/2020           34          4   sunny
5   1/6/2020           33          2   sunny
6   1/7/2020           35          7    rain
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

In [14]:
#creating dataframe using dictionary
#dictionary_name={ key1:values, key2:values,,,, }
#tuple_name=( values,,,,,,,, )
#to read the dataframe we use the method DataFrame()
#since we have created using dictionary,csv files doesnot exist here

weather_data_dup={
    "day":['1/1/2020','1/2/2020','1/3/2020'],
    "temp":[32,33,34],
    "windspeed":[6,7,8],
    "event":["rain","sunny","rain"]
}

dp_dup=pd.DataFrame(weather_data_dup)
print(dp_dup)

        day  event  temp  windspeed
0  1/1/2020   rain    32          6
1  1/2/2020  sunny    33          7
2  1/3/2020   rain    34          8

In [13]:
print(df)

         day  temperature  windspeed   event
0   1/1/2020           32          6    rain
1   1/2/2020           35          7   sunny
2   1/3/2020           28          2    snow
3   1/4/2020           36          7    snow
4   1/5/2020           34          4   sunny
5   1/6/2020           33          2   sunny
6   1/7/2020           35          7    rain
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

In [14]:
#A DataFrame with mixed type columns result in an ndArray 
#DataFrame.values display the values of dataframe in array format
df.values

array([['1/1/2020', 32, 6, 'rain'],
       ['1/2/2020', 35, 7, 'sunny'],
       ['1/3/2020', 28, 2, 'snow'],
       ['1/4/2020', 36, 7, 'snow'],
       ['1/5/2020', 34, 4, 'sunny'],
       ['1/6/2020', 33, 2, 'sunny'],
       ['1/7/2020', 35, 7, 'rain'],
       ['1/8/2020', 38, 6, 'rain'],
       ['1/9/2020', 32, 5, 'rain'],
       ['1/10/2020', 32, 8, 'sunny ']], dtype=object)

In [15]:
#dataFrame is tabular data structure i.e., all about rows and columns
#to print its shape i.e., dimensions
rows_columns=df.shape

In [16]:
print(rows_columns)

(10, 4)

In [17]:
df.shape

(10, 4)

In [18]:
#head() is used to print first few rows
df.head()

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           35          7  sunny
2  1/3/2020           28          2   snow
3  1/4/2020           36          7   snow
4  1/5/2020           34          4  sunny

In [19]:
#tail() is used to print last few rows
df.tail()

         day  temperature  windspeed   event
5   1/6/2020           33          2   sunny
6   1/7/2020           35          7    rain
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

In [20]:
#to print specified no of rows(from starting) we need to mention size say 3
df.head(3)

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           35          7  sunny
2  1/3/2020           28          2   snow

In [21]:
#to print specified no of rows(from ending) we need to mention size say 3
df.tail(3)

         day  temperature  windspeed   event
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

In [22]:
#to print specified no of rows(from ending)
#indexing and slicing with python lists
df[3:7]

        day  temperature  windspeed  event
3  1/4/2020           36          7   snow
4  1/5/2020           34          4  sunny
5  1/6/2020           33          2  sunny
6  1/7/2020           35          7   rain

In [23]:
#to print columns of dataFrame
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
#to print columns of dataFrame
df.columns.tolist()

['day', 'temperature', 'windspeed', 'event']

In [25]:
# to display a particular column
df.day

0     1/1/2020
1     1/2/2020
2     1/3/2020
3     1/4/2020
4     1/5/2020
5     1/6/2020
6     1/7/2020
7     1/8/2020
8     1/9/2020
9    1/10/2020
Name: day, dtype: object

In [29]:
# to display a particular column
df['day']

0     1/1/2020
1     1/2/2020
2     1/3/2020
3     1/4/2020
4     1/5/2020
5     1/6/2020
6     1/7/2020
7     1/8/2020
8     1/9/2020
9    1/10/2020
Name: day, dtype: object

In [31]:
# to display a particular column with specified no of rows 
df.event[2:5]

2     snow
3     snow
4    sunny
Name: event, dtype: object

In [32]:
# to display a particular columns
df[['day','event']]

         day   event
0   1/1/2020    rain
1   1/2/2020   sunny
2   1/3/2020    snow
3   1/4/2020    snow
4   1/5/2020   sunny
5   1/6/2020   sunny
6   1/7/2020    rain
7   1/8/2020    rain
8   1/9/2020    rain
9  1/10/2020  sunny

In [34]:
# to display a particular columns with specified no of rows 
df[['day','temperature']][2:7]

        day  temperature
2  1/3/2020           28
3  1/4/2020           36
4  1/5/2020           34
5  1/6/2020           33
6  1/7/2020           35

In [35]:
#DataFrame.index is used to find the starting and ending index
df.index

RangeIndex(start=0, stop=10, step=1)

In [36]:
#to find the type of data set
type(df)

pandas.core.frame.DataFrame

In [38]:
#🤷‍👼👩‍ just to check the datatype of type 
type(type(df))

type

In [16]:
#to find maximum temperature
df.temperature.max()

38

In [17]:
#to print the row with maximum temperature
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed event
7  1/8/2020           38          6  rain

In [44]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed event
7  1/8/2020           38          6  rain

In [45]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
7  1/8/2020           38

In [48]:
df[['day','temperature','event']][df.event=="sunny"]

        day  temperature  event
1  1/2/2020           35  sunny
4  1/5/2020           34  sunny
5  1/6/2020           33  sunny

In [ ]:
#to find the maximum temperature 
x=df['temperature'].max()
y=df['temperature'].min()
x,y

In [ ]:
#ways to print
#string formatters
print("The maximum temperature is %s " %(x))
print("The maximum temperature is %s and The minimum temperature is %s" %(x,y))
print("The maximum temperature is {0}" .format(x))
print("The maximum temperature is {0} and The minimum temperature is {1}".format(x,y))
print(f"The maximum temperature is {x}" )
print(f"The maximum temperature is {x} and The minimum temperature is {y}" )

In [32]:
#to print the mean value of temperatures
df['temperature'].mean()

33.5

In [33]:
#to print the standard deviation of temperatures
df['temperature'].std()

2.758824226207808

In [34]:
#describe() function prints the statistics of the dataset which contains integer value
df.describe()

       temperature  windspeed
count    10.000000    10.0000
mean     33.500000     5.4000
std       2.758824     2.1187
min      28.000000     2.0000
25%      32.000000     4.2500
50%      33.500000     6.0000
75%      35.000000     7.0000
max      38.000000     8.0000

In [35]:
#conditions application(as Mysql)
#to check wheather the dataset  satisfies the given condition or not
x=df.temperature>=35
x

0    False
1     True
2    False
3     True
4    False
5    False
6     True
7     True
8    False
9    False
Name: temperature, dtype: bool

In [36]:
#to display the rows that satisfies the given condition
df[df.temperature>=35]

        day  temperature  windspeed  event
1  1/2/2020           35          7  sunny
3  1/4/2020           36          7   snow
6  1/7/2020           35          7   rain
7  1/8/2020           38          6   rain

In [108]:
df

   index        day  temperature  windspeed   event
0      0   1/1/2020           32          6    rain
1      1   1/2/2020           35          7   sunny
2      2   1/3/2020           28          2    snow
3      3   1/4/2020           36          7    snow
4      4   1/5/2020           34          4   sunny
5      5   1/6/2020           33          2   sunny
6      6   1/7/2020           35          7    rain
7      7   1/8/2020           38          6    rain
8      8   1/9/2020           32          5    rain
9      9  1/10/2020           32          8  sunny

In [107]:
#DataFrame.loc[index] is used to display the details at that particular index
df.loc[4]

index                 4
day            1/5/2020
temperature          34
windspeed             4
event             sunny
Name: 4, dtype: object

In [109]:
#DataFrame.set_index('index',inplace=True) is used to change/set new index
df.set_index('day',inplace=True)

In [110]:
#now day becomes new index for refering
df

           index  temperature  windspeed   event
day
1/1/2020       0           32          6    rain
1/2/2020       1           35          7   sunny
1/3/2020       2           28          2    snow
1/4/2020       3           36          7    snow
1/5/2020       4           34          4   sunny
1/6/2020       5           33          2   sunny
1/7/2020       6           35          7    rain
1/8/2020       7           38          6    rain
1/9/2020       8           32          5    rain
1/10/2020      9           32          8  sunny

In [113]:
#🤔it gives error becoz now we refer the dataframe with day
df.loc[4]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [4] of <class 'int'>

In [111]:
# we need to refer with day😁😁
df.loc['1/4/2020']

index             3
temperature      36
windspeed         7
event          snow
Name: 1/4/2020, dtype: object

In [114]:
#DataFrame.reset_index(inplace=True)  is used to reset the index 
df.reset_index(inplace=True)

In [115]:
df

         day  index  temperature  windspeed   event
0   1/1/2020      0           32          6    rain
1   1/2/2020      1           35          7   sunny
2   1/3/2020      2           28          2    snow
3   1/4/2020      3           36          7    snow
4   1/5/2020      4           34          4   sunny
5   1/6/2020      5           33          2   sunny
6   1/7/2020      6           35          7    rain
7   1/8/2020      7           38          6    rain
8   1/9/2020      8           32          5    rain
9  1/10/2020      9           32          8  sunny

In [116]:
#since we have reset the index ,we refer with index value
df.loc[4]

day            1/5/2020
index                 4
temperature          34
windspeed             4
event             sunny
Name: 4, dtype: object

In [118]:
#error🥱🥱 we need to refer with index value not with day
df.loc['1/4/2020']

KeyError: 'the label [1/4/2020] is not in the [index]'

# Python pandas methods

In [37]:
df.columns.tolist()

['day', 'temperature', 'windspeed', 'event']

In [38]:
#to find the datatype of each column we use DataFrame.dtypes
#column with mixed types are stored with the object dtype.
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [43]:
#DataFrame.axes returns a list representing the axes of the DataFrame
#it has the row axis labels and column axis label as the only members and are returned in that order.
df.axes

[RangeIndex(start=0, stop=10, step=1),
 Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')]

In [45]:
#DataFrame.ndim returns an int representing the number of axes/array dimensions
#it return 1 if it is a series ,Otherwise 2 if it is a Dataframe
df.ndim

2

In [46]:
#DataFrame.size returns  an int representing the number of elements in the object
#it returnns number of rows of it is a series
#else it returns number of rows * number of columns
df.size

40

In [48]:
#DtaFrame.shape return the dimensions of the dataFrame i.e., rows,columns
df.shape

(10, 4)

In [56]:
#DataFrame.memory_usage() returns the memory usage of each column in bytes
df.memory_usage(index=True,deep=False)

Index          40
day            40
temperature    80
windspeed      80
event          40
dtype: int64

In [49]:
df.memory_usage()

Index          40
day            40
temperature    80
windspeed      80
event          40
dtype: int64

In [52]:
df.memory_usage(index=False)

day            40
temperature    80
windspeed      80
event          40
dtype: int64

In [53]:
df.memory_usage(deep=True)

Index           40
day            371
temperature     80
windspeed       80
event          335
dtype: int64

In [58]:
#DataFrame.empty returns true if dataframe is empty else false
#if the DataFrame contains NaNs it is not considered as empty
df.empty

False

In [60]:
#we need to drop NaNs to make dataframe empty
#here, df doesnot contain NaNs
#to drop NaNs,we use DataFrame.Nans
df.dropna()

         day  temperature  windspeed   event
0   1/1/2020           32          6    rain
1   1/2/2020           35          7   sunny
2   1/3/2020           28          2    snow
3   1/4/2020           36          7    snow
4   1/5/2020           34          4   sunny
5   1/6/2020           33          2   sunny
6   1/7/2020           35          7    rain
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

In [64]:
#creating dataframe using dictionary
#to read the dataframe we use the method DataFrame()
#since we have created using dictionary,csv files doesnot exist here
import numpy as np
weather_data_dup={
    "day":['1/1/2020','1/2/2020','1/3/2020','1/4/2020'],
    "temp":[32,33,34,np.NaN],
    "windspeed":[6,7,8,6],
    "event":["rain","sunny",np.NaN,"rain"]
}
dp_dup=pd.DataFrame(weather_data_dup)
print(dp_dup)

        day  event  temp  windspeed
0  1/1/2020   rain  32.0          6
1  1/2/2020  sunny  33.0          7
2  1/3/2020    NaN  34.0          8
3  1/4/2020   rain   NaN          6

In [68]:
#DataFrame.isna() is used to find wheather the dataframe contains NaN or not
#it returns True if it is NaN,else False
dp_dup.isna()

     day  event   temp  windspeed
0  False  False  False      False
1  False  False  False      False
2  False   True  False      False
3  False  False   True      False

In [67]:
#to drop NaN
dp_dup.dropna()

        day  event  temp  windspeed
0  1/1/2020   rain  32.0          6
1  1/2/2020  sunny  33.0          7

In [70]:
#DataFrame.notna() is used to find wheather the dataframe contains NaN or not
#it returns False if it is NaN,else True
dp_dup.notna()

    day  event   temp  windspeed
0  True   True   True       True
1  True   True   True       True
2  True  False   True       True
3  True   True  False       True

In [73]:
dp_dup

        day  event  temp  windspeed
0  1/1/2020   rain  32.0          6
1  1/2/2020  sunny  33.0          7
2  1/3/2020    NaN  34.0          8
3  1/4/2020   rain   NaN          6

In [78]:
#DataFrame.at[row,col] is used to get the value at specified  row,col
dp_dup.at[2,'event']

nan

In [80]:
#DataFrame.at[row,col]=value  is used to set the value at specified  row,col
dp_dup.at[2,'event']='sunny'
dp_dup

        day  event  temp  windspeed
0  1/1/2020   rain  32.0          6
1  1/2/2020  sunny  33.0          7
2  1/3/2020  sunny  34.0          8
3  1/4/2020   rain   NaN          6

# the end

In [13]:
lol=😁😁😀😀😀😂😃😃😅😆😊😉😉😉
print(lol)

SyntaxError: invalid character in identifier (<ipython-input-13-456d7f01d51c>, line 1)