In [4]:
#pandas is built on numpy package
#pandas is a library used to deal with data analysis and manupulation
#it also helps us to organise data by putting it in a tabular form
import pandas as pd

In [5]:
#OS module in python provides a way of using os dependent functionality
#it allows u to interface with underlying operating system that pytho is running on
import os

In [6]:
#os.getcwd returns the current working directory of a process
os.getcwd()

'C:\\Users\\acer'

# 1.by reading csv files

In [9]:
#os.chdir is used to change the current working directory to specified path
os.chdir('E:\Dataframes_csvFiles')

In [10]:
#os.getcwd returns the current working directory of a process
os.getcwd()

'E:\\Dataframes_csvFiles'

In [12]:
# reading the dateframe using csv file
df=pd.read_csv('weather_data.csv')

In [13]:
df

         day  temperature  windspeed   event
0   1/1/2020           32          6    rain
1   1/2/2020           35          7   sunny
2   1/3/2020           28          2    snow
3   1/4/2020           36          7    snow
4   1/5/2020           34          4   sunny
5   1/6/2020           33          2   sunny
6   1/7/2020           35          7    rain
7   1/8/2020           38          6    rain
8   1/9/2020           32          5    rain
9  1/10/2020           32          8  sunny

# 2.By reading excel files

In [17]:
# reading the dateframe using excel file
df=pd.read_excel('weather_data.xlsx')

In [18]:
df

         day  temperature  windspeed   event
0 2020-01-01           32          6    rain
1 2020-01-02           35          7   sunny
2 2020-01-03           28          2    snow
3 2020-01-04           36          7    snow
4 2020-01-05           34          4   sunny
5 2020-01-06           33          2   sunny
6 2020-01-07           35          7    rain
7 2020-01-08           38          6    rain
8 2020-01-09           32          5    rain
9 2020-01-10           32          8  sunny

In [19]:
#os.getcwd returns the current working directory of a process
os.getcwd()

'E:\\Dataframes_csvFiles'

# 3.Using python dictionary

In [25]:
#creating dataframe using dictionary

weather_data={
    "day":['1/1/2020','1/2/2020','1/3/2020','1/4/2020','1/5/2020'],
    "temp":[32,33,34,28,30],
    "windspeed":[6,7,8,2,4],
    "event":["rain","sunny","rain","snow","sunny"]
}

In [26]:
#to read the dataframe we use the method DataFrame()
#since we have created using dictionary,csv files doesnot exist here
df=pd.DataFrame(weather_data)

In [27]:
df

        day  event  temp  windspeed
0  1/1/2020   rain    32          6
1  1/2/2020  sunny    33          7
2  1/3/2020   rain    34          8
3  1/4/2020   snow    28          2
4  1/5/2020  sunny    30          4

# 4.By using list of tuples

In [31]:
#A tuple is a collection which is ordered and unchangeable.
#syntax   df=(values,,,,)


weather_data=[
   ('1/1/2020',32,6,"rain"),
    ('1/2/2020',33,7,"sunny"),
    ('1/3/2020',34,8,"rain"),
    ('1/4/2020',28,2,"snow"),
    ('1/5/2020',30,4,"sunny")
]

In [32]:
df=pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])

In [33]:
df

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           33          7  sunny
2  1/3/2020           34          8   rain
3  1/4/2020           28          2   snow
4  1/5/2020           30          4  sunny

# 5.By using list of dictionary

In [35]:
#A dictionary is a collection which is unordered, changeable and indexed..
# syntax   df={key:values,,,,,}


weather_data=[
   {"day":'1/1/2020',"temperature":32,"windspeed":6,"event":"rain"},
    {"day":'1/2/2020',"temperature":33,"windspeed":7,"event":"sunny"},
    {"day":'1/3/2020',"temperature":34,"windspeed":8,"event":"rain"},
    {"day":'1/4/2020',"temperature":28,"windspeed":2,"event":"snow"},
    {"day":'1/5/2020',"temperature":30,"windspeed":4,"event":"sunny"}
]

In [36]:
df=pd.DataFrame(weather_data)

In [37]:
df

        day  event  temperature  windspeed
0  1/1/2020   rain           32          6
1  1/2/2020  sunny           33          7
2  1/3/2020   rain           34          8
3  1/4/2020   snow           28          2
4  1/5/2020  sunny           30          4